.nav {
  height: 75px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100%;
  }
  &__list {
    list-style: none;
    margin: 0;
  }
  &__right-menu {
    display: flex;
    align-items: center;
  }
  &__logo-link {
    color: #279f7c;
    font-size: 2.2em;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  &__item {
    display: inline;
    padding-right: 60px;
    &-link {
      color: #3a494c;
      font-weight: 700;
      font-size: 1.2em;
      border-bottom: 2px solid transparent;
      transition: all .3s ease-in;
      &:hover {
        cursor: pointer;
        text-decoration: none;
        border-bottom: 2px solid #3a494c;
      }
    }
  }
}
