<section class="footer">
  <div class="container footer__container">
    <div class="row footer__row-top">
      <div class="col-md-8 footer__col">
        <h4 class="footer__title">Title</h4>
        <p class="footer__desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita officiis praesentium voluptate. A accusantium alias, architecto, dicta dolorem doloremque ea eaque earum fugit minima molestias nobis odit, pariatur porro quasi quos ratione recusandae repellendus rerum sed tenetur unde velit veniam vero voluptate!
        </p>
      </div>
      <div class="col-md-4 footer__col">
        <h4 class="footer__title">contact us</h4>
        <form action="" class="footer__form">
          <input type="text" class="footer__input" placeholder="Name">
          <input type="text" class="footer__input" placeholder="Email">
          <textarea cols="10" rows="3" type="text" class="footer__textarea" placeholder="Message"></textarea>
          <button class="footer__btn">Отправить</button>
        </form>
      </div>
    </div>
    <hr class="footer__hr">
    <div class="row footer__row-bottom">
      <div class="col-md-12 footer__col-bottom">
        <ul class="social__list">
          <li class="social__item"><i class="text-white fa fa-3x fa-instagram" aria-hidden="true"></i></li>
          <li class="social__item"><i class="text-white fa fa-3x fa-vk" aria-hidden="true"></i></li>
          <li class="social__item"><i class="text-white fa fa-3x fa-twitter" aria-hidden="true"></i></li>
        </ul>
        <span class="footer__copyright">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, obcaecati.</span>
      </div>
    </div>
  </div>
</section>
