<section class="footer">
  <simple-notifications></simple-notifications>
  <div class="container footer__container">
    <div class="row footer__row-top">
      <div class="col-md-8 footer__col">
        <h4 class="footer__title">Title</h4>
        <p class="footer__desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita officiis praesentium voluptate. A accusantium alias, architecto, dicta dolorem doloremque ea eaque earum fugit minima molestias nobis odit, pariatur porro quasi quos ratione recusandae repellendus rerum sed tenetur unde velit veniam vero voluptate!
        </p>
      </div>
      <div class="col-md-4 footer__col">
        <h4 class="footer__title">contact us</h4>
        <form [formGroup]="createContactForm" (ngSubmit)="createContact()" novalidate>
          <input [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }" name="name" type="text" class="footer__input form-control" placeholder="Name" formControlName="name">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors.required">
              Обязательное поле
            </div>
          </div>
          <input [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }" name="email" type="email" class="footer__input form-control" placeholder="Email" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors.required">
              Обязательное поле
            </div>
            <div *ngIf="email.errors.email">
              Введите корректный email
            </div>
          </div>
          <textarea [ngClass]="{ 'is-invalid': message.invalid && (message.dirty || message.touched) }" name="message" cols="10" rows="3" type="text" class="footer__textarea form-control" placeholder="Message" formControlName="message"></textarea>
          <div *ngIf="message.invalid && (message.dirty || message.touched)" class="invalid-feedback">
            <div *ngIf="message.errors.required">
              Обязательное поле
            </div>
          </div>
          <input type="submit" class="footer__btn" value="Отправить" [disabled]="!createContactForm.valid">
        </form>
      </div>
    </div>
    <hr class="footer__hr">
    <div class="row footer__row-bottom">
      <div class="col-md-12 footer__col-bottom">
        <ul class="social__list">
          <li class="social__item"><i class="text-white fa fa-3x fa-instagram" aria-hidden="true"></i></li>
          <li class="social__item"><i class="text-white fa fa-3x fa-vk" aria-hidden="true"></i></li>
          <li class="social__item"><i class="text-white fa fa-3x fa-twitter" aria-hidden="true"></i></li>
        </ul>
        <span class="footer__copyright">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, obcaecati.</span>
      </div>
    </div>
  </div>
</section>
