<div class="container proj__container mt-4">
  <simple-notifications></simple-notifications>
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a routerLink="/admin">Главная панель</a></li>
    <li class="breadcrumb-item active" aria-current="page">Проекты</li>
  </ol>
  <div class="row proj__row mb-3">
    <div class="col-md-10 proj__col">
      <div class="form-group">
        <input type="text" placeholder="Поиск..." class="form-control" [(ngModel)]="query">
      </div>
    </div>
    <div class="col-md-2 proj__col">
      <a routerLink="/admin/projects/create" class="btn btn-outline-success">Добавить</a>
    </div>
  </div>
  <div class="row proj__row">
    <div class="col-md-12 proj__col">
      <div class="card-columns">
        <div class="card" *ngFor="let project of projects | filter: query">
          <img class="card-img-top" src="{{project.img}}" width="350" height="255" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <!--<p [innerHTML]="project.description" class="card-text"></p>-->
            <footer class="d-flex justify-content-between">
              <small class="text-muted">{{project.author}}</small>
              <small class="text-muted">{{project.creationDate.seconds * 1000 | date: 'dd.MM.yyyy'}}</small>
            </footer>
            <div class="proj__tags mt-2 mb-2">
              <span *ngFor="let tag of project.tags" class="mr-2 badge badge-secondary">{{tag}}</span>
            </div>
            <a routerLink="/admin/projects/{{project.id}}" class="mt-2 btn btn-sm btn-outline-primary">Обновить</a>
            <button (click)="deleteProj(project.id)" class="ml-2 mt-2 btn btn-sm btn-outline-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 proj__col d-flex justify-content-center">
      <button (click)="loadMore(projects[projects.length - 1].creationDate)" class="w-100 btn-outline-success btn-sm">Загрузить еще</button>
    </div>
  </div>
</div>
