.wrapper  {
  background: #f4f4f4;
}

.color-green {
  color: #279f7c;
}

.hero {
  margin: 40px 0 60px 0;
  &__row {
    display: flex;
    align-items: center;
  }
  &__col-left {
    text-align: left;
  }
  &__col-right {
    text-align: center;
  }
  &__title {
    color: #575757;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3.5em;
  }
  &__description {
    color: #8e8e8e;
    font-size: 1.1em;
    line-height: 1.8em;
    width: 80%;
    padding: 0.5em 0 0;
  }
}

.last-works {
  &__title {
    color: #a2a3a3;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3em;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  &__search-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search-input {
    padding-left: 2.375rem;
    padding-right: 60px;
  }
  &__search-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #279f7c;
  }
  &__row-head {
    margin: 20px 0 40px 0;
  }
  &__tags-list {
    margin: 0 30px 0 0;
    padding: 0;
  }
  &__tags-item {
    list-style: none;
    display: inline;
    padding: 8px 15px;
    margin-left: 30px;
    color: #279f7c;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: #279f7c;
      color: #fff;
    }
  }
  &__tags-item-bg {
    background-color: #279f7c;
    color: white;
  }
  &__col-tags {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btn-loadmore {
    border: none;
    background-color: inherit;
    font-size: 1.1rem;
    color: #279f7c;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.tools {
  &__col-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 60px;
  }
  &__title {
    color: #a2a3a3;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3em;
  }
  &__subtitle {
    color: #8e8e8e;
    font-size: 1.1em;
    line-height: 1.8em;
    width: 40%;
    padding: 0;
    margin: 0;
  }
  &__col-features {
    text-align: center;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__features-title {
    color: #323232;
    font-size: 1.3em;
    font-weight: 700;
    padding: 0.5em 0;
  }
  &__features-desc {
    color: #8e8e8e;
    font-size: 1.1em;
    line-height: 1.8em;
  }
}
