<div class="wrapper">
  <app-header></app-header>
  <section class="hero">
    <div class="container hero__container">
      <div class="row hero__row">
        <div class="col-md-6 hero__col-left">
          <h1 class="hero__title">SHAP live</h1>
          <p class="hero__description">SHAP live описание</p>
        </div>
        <div class="col-md-6 hero__col-right">
          <img src="https://picsum.photos/id/238/300/300" alt="" class="hero__img">
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <hr/>
  </div>
  <section class="last-works">
    <div class="container last-works__container">
      <div class="row last-works__row-head">
        <div class="col-md-4 last-works__col-title">
          <h2 class="last-works__title">последние работы</h2>
        </div>
        <div class="col-md-4 last-works__col-tags">
          <ul class="last-works__tags-list">
            <li class="last-works__tags-item">all</li>
            <li class="last-works__tags-item">html/css</li>
            <li class="last-works__tags-item">js</li>
            <li class="last-works__tags-item">angular</li>
          </ul>
        </div>
        <div class="col-md-4 last-works__search-box">
          <div class="last-works__search">
            <span class="fa fa-search last-works__search-icon"></span>
            <input type="text" class="form-control last-works__search-input" placeholder="Поиск">
          </div>
        </div>
      </div>
      <div class="row text-center last-works__row-project">
        <div class="mb-4 col-md-4 last-works__col-project"><a href="#"><img src="https://picsum.photos/id/239/350/255" alt="" class="rounded img-fluid last-works__img"></a></div>
        <div class="mb-4 col-md-4 last-works__col-project"><a href="#"><img src="https://picsum.photos/id/240/350/255" alt="" class="rounded img-fluid last-works__img"></a></div>
        <div class="mb-4 col-md-4 last-works__col-project"><a href="#"><img src="https://picsum.photos/id/241/350/255" alt="" class="rounded img-fluid last-works__img"></a></div>
        <div class="mb-4 col-md-4 last-works__col-project"><a href="#"><img src="https://picsum.photos/id/242/350/255" alt="" class="rounded img-fluid last-works__img"></a></div>
        <div class="mb-4 col-md-4 last-works__col-project"><a href="#"><img src="https://picsum.photos/id/243/350/255" alt="" class="rounded img-fluid last-works__img"></a></div>
        <div class="mb-4 col-md-4 last-works__col-project"><a href="#"><img src="https://picsum.photos/id/244/350/255" alt="" class="rounded img-fluid last-works__img"></a></div>
      </div>
    </div>
  </section>
  <div class="container">
    <hr/>
  </div>
  <section class="tools">
    <div class="container tools__container">
      <div class="row tools__row-head">
        <div class="col-md-12 tools__col-head">
          <h3 class="tools__title">Инструменты</h3>
          <p class="tools__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>
        </div>
      </div>
      <div class="row tools__row-features">
        <div class="col-md-4 tools__col-features"><img src="https://picsum.photos/id/100/144/117" alt="" class="img-fluid tools__img">
          <h5 class="tools__features-title">Flat Design</h5>
          <p class="tools__features-desc">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
        </div>
        <div class="col-md-4 tools__col-features"><img src="https://picsum.photos/id/101/144/117" alt="" class="img-fluid tools__img">
          <h5 class="tools__features-title">Great Ideas</h5>
          <p class="tools__features-desc">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
        </div>
        <div class="col-md-4 tools__col-features"><img src="https://picsum.photos/id/102/144/117" alt="" class="img-fluid tools__img">
          <h5 class="tools__features-title">Browser Compatibility</h5>
          <p class="tools__features-desc">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
