<section class="hero">
  <div class="container hero__container">
    <div class="row hero__row">
      <div class="col-md-6 hero__col-left">
        <h1 class="hero__title">SHAP live</h1>
        <p class="hero__description">SHAP live описание</p>
      </div>
      <div class="col-md-6 hero__col-right">
        <img src="https://picsum.photos/id/238/300/300" alt="" class="hero__img">
      </div>
    </div>
  </div>
</section>
<div class="container">
  <hr>
</div>
<section class="last-works">
  <div class="container last-works__container">
    <div class="row last-works__row-head">
      <div class="col-md-4 last-works__col-title">
        <h2 class="last-works__title">последние работы</h2>
      </div>
      <div class="col-md-4 last-works__col-tags">
        <ul class="last-works__tags-list">
          <li class="last-works__tags-item">all</li>
          <li class="last-works__tags-item">web</li>
          <li class="last-works__tags-item">js</li>
          <li class="last-works__tags-item">angular</li>
        </ul>
      </div>
      <div class="col-md-4 last-works__search-box">
        <div class="input-group">
          <input class="form-control py-2 last-works__search-input">
          <span class="input-group-append">
            <button class="btn last-works__search-btn" type="button">
                <fa name="search"></fa>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="row text-center last-works__row-project">
      <div class="mb-4 col-md-4 last-works__col-project"><img src="https://picsum.photos/id/239/350/255" alt="" class="rounded img-fluid last-works__img"></div>
      <div class="mb-4 col-md-4 last-works__col-project"><img src="https://picsum.photos/id/240/350/255" alt="" class="rounded img-fluid last-works__img"></div>
      <div class="mb-4 col-md-4 last-works__col-project"><img src="https://picsum.photos/id/241/350/255" alt="" class="rounded img-fluid last-works__img"></div>
      <div class="mb-4 col-md-4 last-works__col-project"><img src="https://picsum.photos/id/242/350/255" alt="" class="rounded img-fluid last-works__img"></div>
      <div class="mb-4 col-md-4 last-works__col-project"><img src="https://picsum.photos/id/243/350/255" alt="" class="rounded img-fluid last-works__img"></div>
      <div class="mb-4 col-md-4 last-works__col-project"><img src="https://picsum.photos/id/244/350/255" alt="" class="rounded img-fluid last-works__img"></div>
    </div>
  </div>
</section>

